<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Todo list</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Список дел и управление задачами в работе и в реальной жизни</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>

        <form class="form-inline my-2 my-lg-0" action="#" method="post">
            <button class="btn btn-outline-success my-2 my-sm-0">Выйти</button>
        </form>
        <div class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-success my-2 mr-2 my-sm-0" href="login.html">Логин</a>
        </div>
    </div>
</nav>
<div class="container">
    <form method="post" th:action="@{/}">
        <div class="input-group mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Описание новой задачи" name="description"
                   id="description">
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-primary">Добавить</button>
            </div>
        </div>
    </form>
    <div class="form-check">
        <input type="checkbox" name="visible" class="form-check-input" id="visible">
        <label class="form-check-label" for="visible">Показать все задачи</label>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Моя задача</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.description}"/>
            <td th:text="${item.created}"/>
            <td>
            </td>
        </tr>
        </tbody>
    </table>
</div>
